@import url(../fonts/Lato/stylename.css);
.m-0 {
  margin: 0 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-1 {
  margin: 10px 10px !important; }

.mt-1 {
  margin-top: 10px !important; }

.mr-1 {
  margin-right: 10px !important; }

.mb-1 {
  margin-bottom: 10px !important; }

.ml-1 {
  margin-left: 10px !important; }

.mx-1 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.my-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-1_2 {
  margin: 12px 12px !important; }

.mt-1_2 {
  margin-top: 12px !important; }

.mr-1_2 {
  margin-right: 12px !important; }

.mb-1_2 {
  margin-bottom: 12px !important; }

.ml-1_2 {
  margin-left: 12px !important; }

.mx-1_2 {
  margin-right: 12px !important;
  margin-left: 12px !important; }

.my-1_2 {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.m-15 {
  margin: 15px 15px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mx-15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.my-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.m-2 {
  margin: 20px 20px !important; }

.mt-2 {
  margin-top: 20px !important; }

.mr-2 {
  margin-right: 20px !important; }

.mb-2 {
  margin-bottom: 20px !important; }

.ml-2 {
  margin-left: 20px !important; }

.mx-2 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.my-2 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-24 {
  margin: 24px 24px !important; }

.mt-24 {
  margin-top: 24px !important; }

.mr-24 {
  margin-right: 24px !important; }

.mb-24 {
  margin-bottom: 24px !important; }

.ml-24 {
  margin-left: 24px !important; }

.mx-24 {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.my-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.m-28 {
  margin: 28px 28px !important; }

.mt-28 {
  margin-top: 28px !important; }

.mr-28 {
  margin-right: 28px !important; }

.mb-28 {
  margin-bottom: 28px !important; }

.ml-28 {
  margin-left: 28px !important; }

.mx-28 {
  margin-right: 28px !important;
  margin-left: 28px !important; }

.my-28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important; }

.m-3 {
  margin: 30px 30px !important; }

.mt-3 {
  margin-top: 30px !important; }

.mr-3 {
  margin-right: 30px !important; }

.mb-3 {
  margin-bottom: 30px !important; }

.ml-3 {
  margin-left: 30px !important; }

.mx-3 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.my-3 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.m-35 {
  margin: 35px 35px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mx-35 {
  margin-right: 35px !important;
  margin-left: 35px !important; }

.my-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.m-4 {
  margin: 40px 40px !important; }

.mt-4 {
  margin-top: 40px !important; }

.mr-4 {
  margin-right: 40px !important; }

.mb-4 {
  margin-bottom: 40px !important; }

.ml-4 {
  margin-left: 40px !important; }

.mx-4 {
  margin-right: 40px !important;
  margin-left: 40px !important; }

.my-4 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.m-5 {
  margin: 50px 50px !important; }

.mt-5 {
  margin-top: 50px !important; }

.mr-5 {
  margin-right: 50px !important; }

.mb-5 {
  margin-bottom: 50px !important; }

.ml-5 {
  margin-left: 50px !important; }

.mx-5 {
  margin-right: 50px !important;
  margin-left: 50px !important; }

.my-5 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.m-6 {
  margin: 60px 60px !important; }

.mt-6 {
  margin-top: 60px !important; }

.mr-6 {
  margin-right: 60px !important; }

.mb-6 {
  margin-bottom: 60px !important; }

.ml-6 {
  margin-left: 60px !important; }

.mx-6 {
  margin-right: 60px !important;
  margin-left: 60px !important; }

.my-6 {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.m-7 {
  margin: 70px 70px !important; }

.mt-7 {
  margin-top: 70px !important; }

.mr-7 {
  margin-right: 70px !important; }

.mb-7 {
  margin-bottom: 70px !important; }

.ml-7 {
  margin-left: 70px !important; }

.mx-7 {
  margin-right: 70px !important;
  margin-left: 70px !important; }

.my-7 {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.m-8 {
  margin: 80px 80px !important; }

.mt-8 {
  margin-top: 80px !important; }

.mr-8 {
  margin-right: 80px !important; }

.mb-8 {
  margin-bottom: 80px !important; }

.ml-8 {
  margin-left: 80px !important; }

.mx-8 {
  margin-right: 80px !important;
  margin-left: 80px !important; }

.my-8 {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.m-9 {
  margin: 90px 90px !important; }

.mt-9 {
  margin-top: 90px !important; }

.mr-9 {
  margin-right: 90px !important; }

.mb-9 {
  margin-bottom: 90px !important; }

.ml-9 {
  margin-left: 90px !important; }

.mx-9 {
  margin-right: 90px !important;
  margin-left: 90px !important; }

.my-9 {
  margin-top: 90px !important;
  margin-bottom: 90px !important; }

.m-12 {
  margin: 120px 120px !important; }

.mt-12 {
  margin-top: 120px !important; }

.mr-12 {
  margin-right: 120px !important; }

.mb-12 {
  margin-bottom: 120px !important; }

.ml-12 {
  margin-left: 120px !important; }

.mx-12 {
  margin-right: 120px !important;
  margin-left: 120px !important; }

.my-12 {
  margin-top: 120px !important;
  margin-bottom: 120px !important; }

.p-0 {
  padding: 0 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-1 {
  padding: 10px 10px !important; }

.pt-1 {
  padding-top: 10px !important; }

.pr-1 {
  padding-right: 10px !important; }

.pb-1 {
  padding-bottom: 10px !important; }

.pl-1 {
  padding-left: 10px !important; }

.px-1 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.py-1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-1_2 {
  padding: 12px 12px !important; }

.pt-1_2 {
  padding-top: 12px !important; }

.pr-1_2 {
  padding-right: 12px !important; }

.pb-1_2 {
  padding-bottom: 12px !important; }

.pl-1_2 {
  padding-left: 12px !important; }

.px-1_2 {
  padding-right: 12px !important;
  padding-left: 12px !important; }

.py-1_2 {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.p-15 {
  padding: 15px 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.px-15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.py-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.p-2 {
  padding: 20px 20px !important; }

.pt-2 {
  padding-top: 20px !important; }

.pr-2 {
  padding-right: 20px !important; }

.pb-2 {
  padding-bottom: 20px !important; }

.pl-2 {
  padding-left: 20px !important; }

.px-2 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.py-2 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-24 {
  padding: 24px 24px !important; }

.pt-24 {
  padding-top: 24px !important; }

.pr-24 {
  padding-right: 24px !important; }

.pb-24 {
  padding-bottom: 24px !important; }

.pl-24 {
  padding-left: 24px !important; }

.px-24 {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.py-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.p-28 {
  padding: 28px 28px !important; }

.pt-28 {
  padding-top: 28px !important; }

.pr-28 {
  padding-right: 28px !important; }

.pb-28 {
  padding-bottom: 28px !important; }

.pl-28 {
  padding-left: 28px !important; }

.px-28 {
  padding-right: 28px !important;
  padding-left: 28px !important; }

.py-28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important; }

.p-3 {
  padding: 30px 30px !important; }

.pt-3 {
  padding-top: 30px !important; }

.pr-3 {
  padding-right: 30px !important; }

.pb-3 {
  padding-bottom: 30px !important; }

.pl-3 {
  padding-left: 30px !important; }

.px-3 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.py-3 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.p-35 {
  padding: 35px 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.px-35 {
  padding-right: 35px !important;
  padding-left: 35px !important; }

.py-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.p-4 {
  padding: 40px 40px !important; }

.pt-4 {
  padding-top: 40px !important; }

.pr-4 {
  padding-right: 40px !important; }

.pb-4 {
  padding-bottom: 40px !important; }

.pl-4 {
  padding-left: 40px !important; }

.px-4 {
  padding-right: 40px !important;
  padding-left: 40px !important; }

.py-4 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.p-5 {
  padding: 50px 50px !important; }

.pt-5 {
  padding-top: 50px !important; }

.pr-5 {
  padding-right: 50px !important; }

.pb-5 {
  padding-bottom: 50px !important; }

.pl-5 {
  padding-left: 50px !important; }

.px-5 {
  padding-right: 50px !important;
  padding-left: 50px !important; }

.py-5 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.p-6 {
  padding: 60px 60px !important; }

.pt-6 {
  padding-top: 60px !important; }

.pr-6 {
  padding-right: 60px !important; }

.pb-6 {
  padding-bottom: 60px !important; }

.pl-6 {
  padding-left: 60px !important; }

.px-6 {
  padding-right: 60px !important;
  padding-left: 60px !important; }

.py-6 {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.p-7 {
  padding: 70px 70px !important; }

.pt-7 {
  padding-top: 70px !important; }

.pr-7 {
  padding-right: 70px !important; }

.pb-7 {
  padding-bottom: 70px !important; }

.pl-7 {
  padding-left: 70px !important; }

.px-7 {
  padding-right: 70px !important;
  padding-left: 70px !important; }

.py-7 {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.p-8 {
  padding: 80px 80px !important; }

.pt-8 {
  padding-top: 80px !important; }

.pr-8 {
  padding-right: 80px !important; }

.pb-8 {
  padding-bottom: 80px !important; }

.pl-8 {
  padding-left: 80px !important; }

.px-8 {
  padding-right: 80px !important;
  padding-left: 80px !important; }

.py-8 {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.p-9 {
  padding: 90px 90px !important; }

.pt-9 {
  padding-top: 90px !important; }

.pr-9 {
  padding-right: 90px !important; }

.pb-9 {
  padding-bottom: 90px !important; }

.pl-9 {
  padding-left: 90px !important; }

.px-9 {
  padding-right: 90px !important;
  padding-left: 90px !important; }

.py-9 {
  padding-top: 90px !important;
  padding-bottom: 90px !important; }

.p-12 {
  padding: 120px 120px !important; }

.pt-12 {
  padding-top: 120px !important; }

.pr-12 {
  padding-right: 120px !important; }

.pb-12 {
  padding-bottom: 120px !important; }

.pl-12 {
  padding-left: 120px !important; }

.px-12 {
  padding-right: 120px !important;
  padding-left: 120px !important; }

.py-12 {
  padding-top: 120px !important;
  padding-bottom: 120px !important; }

html,
body {
  font-family: "LatoRegular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1); }
  html *,
  body * {
    outline: none !important; }
  html.overflow-hidden,
  body.overflow-hidden {
    overflow: hidden; }

.hide {
  display: none; }

.visible {
  display: block !important; }

.main-container {
  background-color: #f5f5f5; }

.main-content {
  padding: 20px 25px;
  padding-top: 133px; }
  .main-content.full-window-height {
    position: fixed;
    top: -15px;
    bottom: 0;
    padding: 0; }

.map-container {
  background: url(../images/map-fake.png) no-repeat;
  background-size: cover;
  overflow: hidden; }

.btn-back {
  width: 37px;
  height: 37px;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.font-xs {
  font-size: 12px; }

.font-sm {
  font-size: 14px; }

.font-lg {
  font-size: 18px; }

.font-xl {
  font-size: 20px; }

.font-xxl {
  font-size: 22px; }

.metro-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #46c473;
  margin-right: 2px;
  position: relative;
  top: 1px; }
  .metro-circle.red {
    background-color: #d0021b; }
  .metro-circle.brown {
    background-color: #8b572a; }
  .metro-circle.purple {
    background-color: #bd10e0; }

a {
  color: #46c473;
  text-decoration: underline;
  text-decoration-skip: ink; }
  a:hover {
    color: #46c473;
    text-decoration: none; }

.note-text {
  font-size: 14px;
  color: #9b9b9b; }

.text-container {
  display: inline-block; }

.yellow-bg {
  background-color: #f8e71c; }

.strong {
  font-family: "LatoBold", sans-serif; }

.blue-color {
  color: #2473cf; }

.gray-color {
  color: #808080; }

.btn {
  border-radius: 18px;
  font-size: 14px;
  font-family: 'LatoBold', sans-serif;
  border: 2px solid #c1c1c1;
  height: 36px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all .2s linear;
  cursor: pointer; }
  .btn.success {
    border-color: #46c473;
    color: #fff;
    background-color: #46c473; }
    .btn.success:hover {
      color: #46c473;
      background-color: #fff; }
    .btn.success:active {
      background-color: #f5f5f5; }
    .btn.success.reverse {
      background-color: #fff;
      color: #46c473; }
      .btn.success.reverse:hover {
        background-color: #46c473;
        color: #fff; }
      .btn.success.reverse:active {
        background-color: #85ff8a !important;
        color: #fff !important; }
  .btn.lg-btn {
    font-size: 16px;
    border-radius: 25px;
    height: 48px;
    padding: 0 10px; }
  .btn.xxl-btn {
    font-size: 20px;
    border-radius: 50px;
    height: 64px;
    padding: 0 50px; }
  .btn.btn-block {
    width: 100%; }
  .btn.width-210 {
    width: 210px; }

.btns-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.inline-block {
  display: inline-block; }

.min-width-215 {
  min-width: 215px !important; }

.bg-white {
  background-color: #fff; }

.map-container {
  height: 500px;
  margin-left: -25px;
  margin-right: -25px; }

.no-shadow {
  box-shadow: none; }

@media (max-width: 499px) {
  .mobile-hide {
    display: none !important; }

  .metro-circle {
    margin: 0; }

  .mobile-d-block {
    display: block !important; }

  .mobile-mb-11 {
    margin-bottom: 11px; }

  .mobile-mb-24 {
    margin-bottom: 24px; }

  .map-container {
    height: 350px; }

  .btns-row button {
    width: 100% !important; } }
@media (min-width: 500px) {
  .desktop-hide {
    display: none !important; } }
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  overflow-x: hidden; }
  .content .main-container {
    width: 500px;
    min-height: 100%;
    position: relative;
    transition: all 0.4s;
    left: 0; }
  .content.close {
    overflow: hidden; }
    .content.close .main-container {
      left: 520px; }

.container {
  width: 500px; }

header {
  background-color: #fff;
  top: 0;
  position: fixed;
  max-width: 100%;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  z-index: 10; }
  header.no-border {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0); }
  header .header-title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px; }
  header .header-content {
    padding: 21px 25px; }
  header .address {
    margin-top: 7px; }
  header .dropdown-block {
    margin-right: 24px; }

.close-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f0f0f0;
  position: absolute;
  top: 14px;
  right: 14px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear; }
  .close-btn:hover {
    background-color: #46c473; }
    .close-btn:hover svg path {
      fill: #fff; }
  .close-btn:active {
    background-color: rgba(70, 196, 115, 0.5); }
    .close-btn:active svg path {
      fill: #fff; }

.header__phone {
  display: inline-block;
  font-size: 18px;
  line-height: 19px;
  font-family: "LatoBold", sans-serif; }
  .header__phone a {
    color: #46c473;
    text-decoration: none; }

@media (max-width: 499px) {
  header .header-content {
    padding: 15px 25px; }
  header .close-btn {
    top: 8px;
    right: 8px; }

  .header__phone {
    font-size: 16px; }
    .header__phone a {
      text-decoration: underline; } }
.filials .filial-control-row {
  margin-bottom: 17px; }
  .filials .filial-control-row .title {
    font-size: 18px;
    font-family: 'LatoBold', sans-serif; }
.filials .filial-card {
  background-color: #fff;
  padding: 16px 25px 2px;
  border-radius: 6px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  cursor: pointer;
  margin-bottom: 25px; }
  .filials .filial-card .title {
    font-size: 24px;
    font-family: "LatoBold", sans-serif;
    color: #46c473;
    padding-right: 90px; }
  .filials .filial-card .to-calendar-icon {
    position: absolute;
    top: 20px;
    right: 25px; }
  .filials .filial-card .metro-station {
    font-size: 14px;
    margin-bottom: 5px; }
  .filials .filial-card .address {
    font-size: 12px;
    margin-bottom: 13px; }
  .filials .filial-card .phone {
    font-size: 18px;
    margin-bottom: 13px; }
    .filials .filial-card .phone a {
      color: #000;
      text-decoration: none; }
  .filials .filial-card .note {
    font-size: 12px;
    margin-bottom: 21px; }
  .filials .filial-card .fast-booking {
    background-color: #f8f8f8;
    margin-left: -25px;
    margin-right: -25px;
    padding: 12px 25px;
    position: relative; }
    .filials .filial-card .fast-booking .text {
      font-size: 14px;
      color: #808080;
      padding-right: 240px; }
    .filials .filial-card .fast-booking .booking-btn {
      position: absolute;
      top: 12px;
      right: 25px;
      background-color: #fff;
      color: #46c473;
      font-size: 14px;
      font-family: "LatoBold", sans-serif;
      border: 1px solid #46c473;
      border-radius: 6px;
      width: 229px;
      transition: all 0.3s linear; }
      .filials .filial-card .fast-booking .booking-btn .second-border {
        border: 1px solid transparent;
        border-radius: 6px;
        padding: 6px 11px; }
      .filials .filial-card .fast-booking .booking-btn:hover .second-border {
        border-color: #46c473; }
      .filials .filial-card .fast-booking .booking-btn:active {
        background-color: #f5f5f5; }
      .filials .filial-card .fast-booking .booking-btn .right-arrow {
        position: absolute;
        top: 9px;
        right: 15px; }
        .filials .filial-card .fast-booking .booking-btn .right-arrow #Timestrip {
          stroke: #46c473; }
.filials .filial-control-row {
  display: flex; }
  .filials .filial-control-row .nav-view {
    display: flex;
    margin-left: auto; }
    .filials .filial-control-row .nav-view .nav-item {
      font-size: 14px;
      line-height: 18px;
      color: #9b9b9b;
      text-transform: uppercase;
      padding: 3px 15px;
      cursor: pointer;
      border: 1px solid transparent;
      margin-left: 5px;
      vertical-align: text-bottom; }
      .filials .filial-control-row .nav-view .nav-item:hover {
        border: 1px solid #9b9b9b;
        border-radius: 13px; }
      .filials .filial-control-row .nav-view .nav-item.active {
        border: 1px solid #46c473;
        border-radius: 13px;
        color: #46c473;
        background-color: #fff; }
    .filials .filial-control-row .nav-view .nav-icon {
      width: 42px;
      height: 42px;
      border: 1px solid #d3d3d3;
      border-radius: 50%;
      background: transparent;
      margin: 0 5px;
      position: relative;
      top: -10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .filials .filial-control-row .nav-view .nav-icon svg {
        opacity: 0.5; }
      .filials .filial-control-row .nav-view .nav-icon.active {
        background-color: #fff; }
        .filials .filial-control-row .nav-view .nav-icon.active svg {
          opacity: 1; }
.filials .filials-map {
  position: absolute;
  top: 175px;
  bottom: 0;
  width: 100%;
  margin-left: -25px;
  margin-right: -25px;
  background: url(../images/map-fake.png) no-repeat;
  background-size: cover; }
  .filials .filials-map .filial-card {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding-left: 68px;
    display: none;
    padding-top: 20px; }
    .filials .filials-map .filial-card .fast-booking {
      background-color: #f8f8f8;
      margin-left: -68px;
      padding-left: 68px; }
    .filials .filials-map .filial-card .close-icn {
      position: absolute;
      top: 27px;
      left: 27px; }
.filials .nav-view-area {
  display: none; }
.filials .geopin {
  position: absolute;
  top: 30%;
  left: 40%;
  cursor: pointer; }

@media (max-width: 499px) {
  .filials .filial-control-row {
    margin-bottom: 0; }
  .filials .filial-card {
    margin-left: -25px;
    margin-right: -25px;
    border-radius: 0;
    padding-top: 6px;
    margin-bottom: 10px; }
    .filials .filial-card .metro-station {
      padding-right: 50px; }
    .filials .filial-card .phone {
      font-size: 16px;
      margin-bottom: 7px; }
      .filials .filial-card .phone a {
        color: #46c473;
        text-decoration: underline;
        font-family: "LatoBold", sans-serif; }
    .filials .filial-card .note {
      margin-bottom: 0; }
    .filials .filial-card .fast-booking {
      background-color: #fff;
      padding: 10px 20px 12px 25px; }
      .filials .filial-card .fast-booking .text {
        padding-right: 0; }
      .filials .filial-card .fast-booking .booking-btn {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 6px;
        height: 42px;
        line-height: 14px; }
        .filials .filial-card .fast-booking .booking-btn .second-border {
          padding: 13px 11px; }
        .filials .filial-card .fast-booking .booking-btn .right-arrow {
          top: 12px; }
  .filials .filials-map .filial-card {
    border-radius: 0;
    padding-top: 6px;
    padding-left: 17px;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    .filials .filials-map .filial-card .metro-station {
      padding-right: 50px; }
    .filials .filials-map .filial-card .phone {
      font-size: 16px;
      margin-bottom: 9px; }
      .filials .filials-map .filial-card .phone a {
        color: #46c473;
        text-decoration: underline; }
    .filials .filials-map .filial-card .note {
      margin-bottom: 0; }
    .filials .filials-map .filial-card .close-icn {
      width: 32px;
      height: 32px;
      top: -40px;
      left: 90%;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .filials .filials-map .filial-card .fast-booking {
      background-color: #fff; }
      .filials .filials-map .filial-card .fast-booking .text {
        padding-right: 0; }
      .filials .filials-map .filial-card .fast-booking .booking-btn {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 6px; }
  .filials .inline-block {
    font-size: 16px;
    line-height: 18px; }
  .filials .metro-station {
    line-height: 14px; } }
.choose-date-top-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }
  .choose-date-top-row .btn-back {
    position: relative;
    left: -7px;
    transition: all 0.2s linear; }
    .choose-date-top-row .btn-back:hover {
      background-color: #fff; }
      .choose-date-top-row .btn-back:hover #Symbols {
        opacity: 1; }
      .choose-date-top-row .btn-back:hover #Back-Big-Arrow {
        stroke: #46c473; }
    .choose-date-top-row .btn-back:active {
      background-color: #fff;
      border-color: #46c473; }
      .choose-date-top-row .btn-back:active #Symbols {
        opacity: 1; }
      .choose-date-top-row .btn-back:active #Back-Big-Arrow {
        stroke: #46c473; }
  .choose-date-top-row .title {
    font-size: 18px;
    font-family: 'LatoBold', sans-serif;
    margin-left: 11px; }

#date-output {
  font-size: 18px;
  font-family: "LatoBold", sans-serif; }

.booking-form .back-to-date-btn {
  display: inline-flex;
  border: 1px solid #d3d3d3;
  border-radius: 17px;
  font-size: 12px;
  line-height: 12px;
  color: #808080;
  padding: 12px 20px 12px 77px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s linear; }
  .booking-form .back-to-date-btn:hover {
    background-color: #fff;
    color: #46c473; }
    .booking-form .back-to-date-btn:hover #Symbols {
      opacity: 1; }
  .booking-form .back-to-date-btn:active {
    border-color: #46c473; }
  .booking-form .back-to-date-btn svg {
    position: absolute;
    left: 17px;
    top: 5px; }

.date-place {
  font-size: 18px; }

.calc-price-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.session-count-control {
  width: 131px;
  height: 47px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex; }
  .session-count-control .minus {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    text-align: center; }
  .session-count-control .plus {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    text-align: center; }
  .session-count-control .count-output {
    display: inline-block;
    margin: 0 auto; }

#total-price-output {
  font-size: 32px;
  color: #46c473; }

@media (max-width: 499px) {
  .booking-form .back-to-date-btn {
    width: 100%; }
  .booking-form .total-price {
    display: flex; }
    .booking-form .total-price #total-price-output {
      margin-left: 10px;
      font-size: 32px; } }
input.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08); }
  input.form-control.bold-font {
    font-family: "LatoBold", sans-serif; }

.form-group {
  margin-bottom: 18px; }
  .form-group label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block; }
  .form-group .input-description {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.5; }

.input-group {
  display: flex; }

select.form-control {
  width: 204px;
  height: 26px;
  border-radius: 13px;
  background-color: #fff;
  color: #46c473;
  margin-left: 64px;
  position: relative;
  top: -12px;
  border-color: #46c473;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px !important;
  padding: 4px 10px; }

.month-control {
  position: relative;
  height: 36px;
  pointer-events: none; }
  .month-control .month-container {
    overflow: hidden;
    height: 36px;
    position: relative;
    padding: 0 5px; }
  .month-control .month-scroll-container {
    display: flex;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    transition: all 0.5s; }
  .month-control:before {
    display: inline-block;
    width: 10px;
    height: 22px;
    content: "";
    background: url("../images/right-arrow-small.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: -13px;
    transform: rotate(180deg);
    cursor: pointer;
    pointer-events: all; }
  .month-control:after {
    display: inline-block;
    width: 10px;
    height: 22px;
    content: "";
    background: url("../images/right-arrow-small.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    right: -17px;
    cursor: pointer;
    pointer-events: all; }
  .month-control .month-item {
    width: 91px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 13px;
    color: #c0c0c0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
    min-width: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 3px;
    margin-left: 3px;
    pointer-events: all; }
    .month-control .month-item:hover {
      border-color: #46c473; }
    .month-control .month-item.current {
      color: #46c473;
      border-color: #46c473; }

.js_cal {
  width: 100%;
  margin-bottom: 36px; }
  .js_cal th {
    font-size: 12px;
    color: #000;
    height: 40px;
    vertical-align: middle; }
  .js_cal td {
    text-align: center;
    height: 48px;
    vertical-align: middle;
    color: #46c473;
    background-color: #fff;
    font-size: 16px;
    border-spacing: 1px;
    cursor: pointer;
    border: 1px solid #f5f5f5;
    width: 64px; }
    .js_cal td.holiday {
      color: #626a79;
      cursor: default; }
    .js_cal td.unavailable {
      color: #626a79;
      opacity: 0.5;
      cursor: default; }
    .js_cal td.current {
      outline: 1px dashed #46c473 !important;
      outline-offset: -1px; }
    .js_cal td.active {
      outline: 2px solid #46c473 !important;
      outline-offset: -2px;
      font-size: 22px;
      line-height: 22px;
      font-family: 'LatoBold', sans-serif; }
      .js_cal td.active .month-name {
        display: block;
        line-height: 8px; }
    .js_cal td .month-name {
      display: none;
      font-size: 8px;
      text-transform: uppercase;
      font-family: 'LatoBold', sans-serif; }

#time-slots {
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 26px;
  margin-right: -16px; }
  #time-slots .time-slot-item {
    width: 138px;
    border-radius: 6px;
    background-color: #fff;
    color: #46c473;
    font-size: 24px;
    line-height: 32px;
    font-family: "LatoBold", sans-serif;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 13px;
    cursor: pointer;
    position: relative;
    margin-bottom: 18px;
    margin-right: 16px; }
    #time-slots .time-slot-item:after {
      display: inline-block;
      width: 10px;
      height: 25px;
      content: "";
      background: url("../images/right-arrow-small.svg") no-repeat;
      background-size: contain;
      position: absolute;
      top: 16px;
      right: 13px; }
    #time-slots .time-slot-item.unavailable {
      opacity: 0.5;
      color: #c0c0c0;
      cursor: default; }

@media (max-width: 499px) {
  #datepicker {
    margin-left: -16px;
    margin-right: -25px; }

  #time-slots {
    display: flex;
    justify-content: space-between;
    margin-right: 0; }
    #time-slots .time-slot-item {
      width: 88px;
      margin-right: 0; }
      #time-slots .time-slot-item:after {
        display: none; }

  .js_cal td.active {
    font-size: 20px; }
    .js_cal td.active .month-name {
      font-size: 7px; }

  .choose-date-top-row .btn-back {
    left: 0;
    top: -2px; } }
.ui.selection.dropdown {
  min-height: 30px;
  max-height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 18px;
  line-height: 18px;
  font-family: "LatoBold", sans-serif;
  min-width: 200px;
  max-width: 250px; }
  .ui.selection.dropdown:hover {
    border-color: #46c473; }
  .ui.selection.dropdown.active {
    border-color: transparent !important;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.08) !important; }
    .ui.selection.dropdown.active .menu {
      border-color: transparent !important;
      box-shadow: 0 7px 8px 3px rgba(0, 0, 0, 0.08) !important; }
  .ui.selection.dropdown.form-control {
    height: 45px;
    max-height: 45px;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    text-align: right;
    min-width: 93px;
    font-size: 22px;
    line-height: 22px;
    padding: 12px 10px !important;
    position: relative; }
    .ui.selection.dropdown.form-control:before {
      display: inline-block;
      width: 10px;
      height: 15px;
      content: "";
      background: url("../images/right-arrow-small.svg") no-repeat;
      background-size: contain;
      position: absolute;
      top: 16px;
      left: 10px;
      transform: rotate(90deg); }
    .ui.selection.dropdown.form-control.visible:before {
      transform: rotate(270deg); }
    .ui.selection.dropdown.form-control .menu {
      border: none;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08); }
    .ui.selection.dropdown.form-control .menu > .item {
      font-size: 22px;
      line-height: 22px;
      padding: 12px 10px !important;
      text-align: right; }
  .ui.selection.dropdown .text {
    max-width: 175px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .ui.selection.dropdown .menu > .item {
    border: none;
    font-size: 18px;
    font-family: "LatoBold", sans-serif;
    padding: 7px 10px !important; }
  .ui.selection.dropdown.font-sm {
    font-size: 14px;
    line-height: 14px;
    padding: 8px 10px; }
    .ui.selection.dropdown.font-sm .menu > .item {
      font-size: 14px; }

.ui.selection.dropdown:focus {
  border-color: #d3d3d3;
  box-shadow: none; }

.ui.selection.dropdown > .dropdown.icon {
  display: none; }

.ui.selection.dropdown .menu {
  max-height: 600px; }

.dropdown-block {
  position: relative;
  display: inline-block; }

.dropdown-icon {
  position: absolute;
  top: 3px;
  right: 10px; }

@media (max-width: 499px) {
  .ui.selection.dropdown {
    min-width: 145px;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 10px !important; }

  .ui.selection.dropdown .menu > .item {
    font-size: 14px; } }

/*# sourceMappingURL=theme.css.map */
