.booking-form {

  .back-to-date-btn {
    display: inline-flex;
    border: 1px solid #d3d3d3;
    border-radius: 17px;
    font-size: 12px;
    line-height: 12px;
    color: #808080;
    padding: 12px 20px 12px 77px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s linear;

    &:hover {
      background-color: #fff;
      color: $brand-color;

      #Symbols {
        opacity: 1;
      }
    }

    &:active {
      border-color: $brand-color;
    }

    svg {
      position: absolute;
      left: 17px;
      top: 5px;
    }
  }
}

.date-place {
  font-size: 18px;
}

.calc-price-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.session-count-control {
  width: 131px;
  height: 47px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;

  .minus {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    text-align: center;
  }

  .plus {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    text-align: center;
  }

  .count-output {
    display: inline-block;
    margin: 0 auto;
  }
}

#total-price-output {
  font-size: 32px;
  color: $brand-color;
}

@media (max-width: 499px) {
  .booking-form {
    .back-to-date-btn {
      width: 100%;
    }

    .total-price {
      display: flex;

      #total-price-output {
        margin-left: 10px;
        font-size: 32px;
      }
    }
  }
}