.choose-date-top-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .btn-back {
    position: relative;
    left: -7px;
    transition: all 0.2s linear;

    &:hover {
      background-color: #fff;

      #Symbols {
        opacity: 1;
      }

      #Back-Big-Arrow {
        stroke: $brand-color;
      }
    }

    &:active {
      background-color: #fff;
      border-color: $brand-color;

      #Symbols {
        opacity: 1;
      }

      #Back-Big-Arrow {
        stroke: $brand-color;
      }
    }
  }

  .title {
    font-size: 18px;
    font-family: 'LatoBold', sans-serif;
    margin-left: 11px;
  }
}

#date-output {
  font-size: 18px;
  font-family: "LatoBold", sans-serif;
}