html,
body {
  font-family: "LatoRegular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);

  * {
    outline: none !important;
  }

  &.overflow-hidden {
    overflow: hidden;
  }
}

.hide {
  display: none;
}

.visible {
  display: block !important;
}

.main-container {
  background-color: $bg-color;
}

.main-content {
  padding: 20px 25px;
  padding-top: 133px;

  &.full-window-height {
    position: fixed;
    top: -15px;
    bottom: 0;
    padding: 0;
  }
}

.map-container {
  background: url(../images/map-fake.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.btn-back {
  width: 37px;
  height: 37px;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-lg {
  font-size: 18px;
}

.font-xl {
  font-size: 20px;
}

.font-xxl {
  font-size: 22px;
}

.metro-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $brand-color;
  margin-right: 2px;
  position: relative;
  top: 1px;

  &.red {
    background-color: #d0021b;
  }

  &.brown {
    background-color: #8b572a;
  }

  &.purple {
    background-color: #bd10e0;
  }
}

a {
  color: $brand-color;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }

}

.note-text {
  font-size: 14px;
  color: #9b9b9b;
}

.text-container {
  display: inline-block;
}

.yellow-bg {
  background-color: #f8e71c;
}

.strong {
  font-family: "LatoBold", sans-serif;
}

.blue-color {
  color: #2473cf;
}

.gray-color {
  color: $gray-main-color;
}

.btn {
  border-radius: 18px;
  font-size: 14px;
  font-family: 'LatoBold', sans-serif;
  border: 2px solid #c1c1c1;
  height: 36px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all .2s linear;
  cursor: pointer;

  &.success {
    border-color: $brand-color;
    color: #fff;
    background-color: $brand-color;

    &:hover {
      color: $brand-color;
      background-color: #fff;
    }

    &:active {
      background-color: #f5f5f5;
    }

    &.reverse {
      background-color: #fff;
      color: $brand-color;

      &:hover {
        background-color: $brand-color;
        color: #fff;
      }

      &:active {
        background-color: #85ff8a !important;
        color: #fff !important;
      }
    }
  }

  &.lg-btn {
    font-size: 16px;
    border-radius: 25px;
    height: 48px;
    padding: 0 10px;
  }

  &.xxl-btn {
    font-size: 20px;
    border-radius: 50px;
    height: 64px;
    padding: 0 50px;
  }

  &.btn-block {
    width: 100%;
  }

  &.width-210 {
    width: 210px;
  }
}

.btns-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inline-block {
  display: inline-block;
}

.min-width-215 {
  min-width: 215px!important;
}

.bg-white {
  background-color: #fff;
}

.map-container {
  height: 500px;
  margin-left: -25px;
  margin-right: -25px;
}

.no-shadow {
  box-shadow: none;
}

@media (max-width: 499px) {
  .mobile-hide {
    display: none!important;
  }

  .metro-circle {
    margin: 0;
  }

  .mobile-d-block {
    display: block!important;
  }

  .mobile-mb-11 {
    margin-bottom: 11px;
  }

  .mobile-mb-24 {
    margin-bottom: 24px;
  }

  .map-container {
    height: 350px;
  }

  .btns-row {
    button {
      width: 100%!important;
    }
  }
}

@media (min-width: 500px) {
  .desktop-hide {
    display: none!important;
  }
}