input.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

  &.bold-font {
    font-family: "LatoBold", sans-serif;
  }
}

.form-group {
  margin-bottom: 18px;

  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }

  .input-description {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.5;
  }
}

.input-group {
  display: flex;
}

.styled-select {
  margin-left: 64px;
  width: 204px;
  height: 26px;
  border-radius: 13px;
  background-color: #fff;
  border: 1px solid $brand-color;
  position: relative;
  top: -12px;
  border-color: $brand-color;
  overflow: hidden;

  &:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    border-bottom: 1px solid $brand-color;
    border-right: 1px solid $brand-color;
    position: absolute;
    top: 5px;
    right: 15px;
    transform: rotate(45deg);
  }

  select {
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 14px;
    height: 26px;
    padding: 4px 55px 4px 15px;
    width: 244px;
    color: $brand-color;
    text-transform: uppercase;
  }
}

select.form-control {
  width: 204px;



  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px!important;
  padding: 4px 10px;
}