.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: -10px;

  .main-container {
    width: 500px;
    min-height: 100%;
    position: relative;
    transition: all 0.4s;
    left: 0;
  }

  &.close {
    overflow: hidden;

    .main-container {
      left: 520px;
    }
  }
}



.container {
  width: 500px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .container {
    width: 320px;
  }
}